*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html,
body {
	height: 100%;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

a {
	text-decoration: none;
}

img {
	height: auto;
}

input,
button,
textarea,
select {
	font-family: inherit;
}

button {
	border: none;
	cursor: pointer;
}

textarea {
	resize: vertical;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}
.hide {
	display: none;
}
.wrapper {
	position: relative;
	width: 100%;
	height: auto;
	max-width: 1700px;
	font-size: 2.4rem;
}
.font-advent-pro {
	font-family: 'Advent Pro', sans-serif;
	font-optical-sizing: auto;
	font-weight: 100;
	font-style: normal;
	font-variation-settings: 'wdth' 100;
}
// ==================== HEADER ============================
.header {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	.wrapper {
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 4rem 2rem 2rem 2rem;
		flex-direction: column;
	}
	&__topNav {
		width: 100%;
		padding: 2rem 0;
		background: #f2ebde;
		nav {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			align-items: center;
			list-style: none;
			font-family: Oswald;
			font-weight: 700;
			font-style: normal;
			line-height: 1.6em;
			font-size: 20px;
			text-transform: uppercase;
			text-decoration: none;
			letter-spacing: 5px;

			li a {
				color: black;
			}
			img {
				width: 30px;
				height: 30px;
				margin-right: 2rem;
				transition: transform 0.5s;
				&:hover {
					transform: scale(1.1);
				}
			}
			li:hover a {
				animation: colorRotate 3s linear 0s infinite;
			}
		}
	}
	&__info {
		display: flex;
		flex-direction: column;
		width: 100%;
		padding: 2rem 0;
		h2 {
			width: 100%;
			text-align: center;
			font-size: 5rem;
			color: #030303;
		}
		&__text {
			font-size: 2rem;
			text-align: center;
			font-family: Oswald;
			font-weight: 400;
			font-style: normal;
			line-height: 1.6em;
			font-size: 19px;
			text-transform: capitalize;
			text-decoration: none;
			letter-spacing: 1.11px;
			color: #030303;
			margin-top: 2rem;
			width: 100%;
			cursor: default;
		}
		&__text:hover {
			animation: colorRotate 3s linear 0s infinite;
		}
	}
}
// ==================== HEADER ============================
// ==================== MAIN ==============================
.main {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	.elements {
		margin-top: 5rem;
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		&__column {
			width: 90%;
			display: flex;
			flex-direction: column;
		}
		&__element {
			position: relative;
			width: 100%;
			transition: 0.3s;
			text-decoration: none;
			overflow: hidden;
			margin-bottom: 0.4rem;
			&__image {
				width: 100%;
				transition: transform 0.5s;
			}
			p {
				display: none;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				transition: 0.3s;
				color: black;
				text-transform: uppercase;
				font-family: Oswald;
				font-weight: 700;
				font-style: normal;
				line-height: 1.7em;
				font-size: 52px;
				text-transform: none;
				text-decoration: none;
				text-align: center;
				letter-spacing: 0.06em;
				color: white;
				cursor: pointer;
			}
			&:hover p {
				display: block;
				text-shadow: 4px 18px 26px rgba(66, 68, 90, 1);
			}
			&:hover img {
				opacity: 0.82;
				transform: scale(1.1);
			}
		}
	}
}
// ==================== MAIN ==============================
// ==================== ABOUT-ME ==========================
.main .about-me {
	margin-top: 0;
}
.about-me {
	display: flex;
	flex-direction: column;
	padding: 3rem 0 5rem 0;
	&__image {
		width: 100%;
		img {
			max-width: 100%;
			border-radius: 50%;
		}
	}
	&__text {
		margin-top: 2rem;
		font-size: 2rem;
		p {
			padding: 16px 0;
			line-height: 26.6px;
		}
	}
}
// ==================== ABOUT-ME ==========================
// ==================== FOOTER ============================
.footer {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 5rem;
	padding-bottom: 5rem;
	.wrapper {
		display: flex;
		flex-wrap: wrap;

		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 2rem;
	}
	&__bottomNav {
		width: 100%;
		padding: 3rem 0;
		li:hover a {
			animation: colorRotate 3s linear 0s infinite;
		}
		nav {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			align-items: center;
			list-style: none;
			font-family: Oswald;
			font-weight: 700;
			font-style: normal;
			line-height: 1.6em;
			font-size: 20px;
			text-transform: uppercase;
			text-decoration: none;
			letter-spacing: 5px;
			width: 100%;

			li a {
				color: black;
			}
			img {
				width: 30px;
				height: 30px;
				margin-right: 2rem;
				transition: transform 0.5s;
				&:hover {
					transform: scale(1.1);
				}
			}
			li:hover a {
				animation: colorRotate 3s linear 0s infinite;
			}
		}
	}
	&__info {
		display: flex;
		flex-direction: column;
		width: 100%;
		h2 {
			width: 100%;
			text-align: center;
			font-size: 7rem;
			color: #030303;
		}
		&__text {
			font-size: 2rem;
			text-align: center;
			font-family: Oswald;
			font-weight: 400;
			font-style: normal;
			line-height: 1.6em;
			font-size: 19px;
			text-transform: capitalize;
			text-decoration: none;
			letter-spacing: 1.11px;
			color: #030303;
			margin-top: 0.2em;
			width: 100%;
		}
	}
	&__rights {
		padding-top: 4rem;
		display: flex;
		justify-content: center;
		align-content: center;
		width: 100%;
		border-top: 1px solid gray;
		font-size: 2rem;
		text-align: center;
		font-family: Oswald;
		font-weight: 400;
		font-style: normal;
		line-height: 1.6em;
		font-size: 19px;
		text-transform: capitalize;
		text-decoration: none;
		letter-spacing: 1.11px;
		color: #030303;
		width: 100%;
		p {
			a {
				margin-left: 10px;
				&:hover {
					animation: colorRotate 3s linear 0s infinite;
				}
			}
		}
	}
}
// ==================== FOOTER ============================
// ==================== KEYFRAMES =========================
@keyframes colorRotate {
	from {
		color: #6666ff;
	}
	10% {
		color: #0099ff;
	}
	50% {
		color: #00ff00;
	}
	75% {
		color: #ff3399;
	}
	100% {
		color: #6666ff;
	}
}
// ==================== KEYFRAMES =========================
// ==================== MEDIA QUERIES =====================
// MEDIA QUERIES 578px - 768px
@media (min-width: 576px) {
	.header__topNav nav {
		justify-content: space-evenly;
		padding: 0;
		flex-direction: row;
	}
	.footer__bottomNav nav {
		display: flex;
		justify-content: space-evenly;
		padding: 0;
		flex-direction: row;
	}
	.header__info h2 {
		font-size: 7rem;
	}
	.main {
		.wrapper {
			flex-direction: row;
			justify-content: space-evenly;
		}
		.elements__element {
		}
		.elements__column {
			width: 90%;
		}
		.elements {
			align-items: flex-start;
		}
	}
	.about-me {
		display: flex;
		flex-direction: row;
	}
	.about-me__image {
		width: 40%;
	}
	.about-me__text {
		width: 55%;
	}
}
// MEDIA QUERIES 768px - 992px
@media (min-width: 768px) {
	.about-me__image {
		width: 60%;
	}
	.about-me__text {
		width: 35%;
	}
}
// MEDIA QUERIES 992px - 1200px
@media (min-width: 992px) {
	.main .elements__element {
		margin-bottom: 0;
	}
	.main {
		.wrapper {
			justify-content: space-evenly;
		}
		.elements__column {
			width: 32%;
		}
	}
	.hide {
		display: block;
	}
	.about-me__image {
		width: 30%;
	}
	.about-me__text {
		width: 35%;
	}
}
// MEDIA QUERIES 1200 px +
@media (min-width: 1200px) {
	.main {
		.elements__element {
		}
		.elements__column {
			width: 32.8%;
		}
	}
}
// ==================== MEDIA QUERIES =====================